/* General header styles */
.header {
  background: rgba(251, 236, 236, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease;
  height: 95px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 100px;
  width: 150px;
  transition: all 0.3s ease;
  image-rendering: crisp-edges;
  /* margin-top: 5px; */
}



.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.header-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
}

.title {
  font-size: 20px;
  font-weight: 400;
  color: #e9385b;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #e9385b, #f14d7a);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.sub-title {
  font-size: 20px;
  font-weight: 300;
  color: #e9385b;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sub-title-2 {
  color: #000000;
}

/* Profile section */
.profile-section {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.profile-btn:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.profile-section:hover .dropdown-menu,
.profile-btn:hover + .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #fff;
  color: #333333;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 200px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s;
}

.dropdown-btn {
  background: none;
  border: none;
  color: #333333;
  padding: 10px 16px;
  text-align: left;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
}

.dropdown-btn:hover {
  background-color: rgba(188, 204, 204, 0.2);
  color: #6a669d;
}

.dropdown-btn.disabled {
  cursor: not-allowed;
  color: #b0b0b0;
  background-color: rgba(240, 240, 240, 0.5);
}

/* For screens smaller than 768px */
@media (max-width: 768px) {
  /* .logo-image{
    height: 80px;
    width: 120px;
  } */

  .profile-btn span {
    display: none;
  }

  .profile-pic {
    width: 30px;
    height: 30px;
  }

  .profile-section {
    justify-content: flex-end;
  }

  .profile-btn {
    padding: 6px 10px;
  }

  .title {
    font-size: 24px;
  }

  .sub-title-2 {
    font-size: 20px;
  }
}

/* For screens smaller than 600px */
@media (max-width: 600px) {
  .profile-pic {
    width: 28px;
    height: 28px;
  }

  .profile-btn {
    padding: 6px 8px;
  }

  .logo-image {
    height: 60px;
    width: 100px;
  }

  .title {
    font-size: 20px;
  }

  .sub-title-2 {
    font-size: 15px;
  }
}

/* For screens smaller than 769px */
@media (max-width: 769px) {
  .header {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .logo-container {
    flex-shrink: 0;
  }

  .logo-image {
    margin-top: 20px;
    height: 100px;
    width: 170px;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .header-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
    color: #e9385b;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #e9385b, #f14d7a);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .profile-section {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
  }

  .profile-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .profile-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
  }

  .profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
  }
}

/* For screens smaller than 520px */
@media (max-width: 520px) {
  .header {
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.2s ease;
  }

  .logo-image {
    height: 80px;
    width: 140px;
    margin-top: 10px;
  }

  .header-title {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 20px;
    font-weight: 400;
    color: #e9385b;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #e9385b, #f14d7a);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }

  .profile-section {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: flex-start;
  }

  .profile-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .profile-btn:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.05);
  }

  .profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
  }

  .sub-title {
    font-size: 15px;
  }

  .sub-title-2 {
    font-size: 12px;
  }
}
