body {
  font-family: Arial, sans-serif;
  background-color: #fcf7fa;
  margin: 0;
  padding: 0;
}

.registration-container {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
}

/* Form section */
.registration-form-section {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border: 1px solid #c8afaf;
  border-radius: 8px;
}

/* Form header */
.registration-form-header {
  text-align: center;
  margin-bottom: 20px;
}

.registration-form-header .registration-form-heading {
  font-size: 24px;
  font-weight: bold;
  color: #3e5879;
}

/* Form Grid */
.registration-form-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

/* Input Fields */
input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.registration-form-grid input:hover,
.registration-form-grid select:hover {
  border-color: #3e5879;
}

.registration-form-grid input:hover::placeholder,
.registration-form-grid select:hover::placeholder {
  color: #3e5879;
}

.registration-button-container {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.registration-verify-button {
  background-color: #3e5879;
  color: white;
  border: none;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.registration-verify-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Password visibility toggle */
.registration-password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.registration-eye-icon {
  position: absolute;
  top: 2.6rem;
  right: 2rem;
  cursor: pointer;
}

/* Submit Button */
.registration-submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.registration-submit-button {
  width: 100%;
  padding: 12px;
  background-color: #3e5879;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.registration-submit-button:hover {
  background-color: #2c3e50;
}

/* Login Link */
.registration-login-link-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.registration-login-text {
  font-size: 14px;
}

.registration-login-button {
  background-color: transparent;
  color: #3e5879;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.registration-login-button:hover {
  color: #3e5879;
}

/* Sidebar */
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.registration-logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 20px 20px 0;
}

/* Responsive Design */
/* Small Screens (up to 375px) */
@media screen and (max-width: 375px) {
  .container {
    padding: 15px;
    height: auto;
    justify-content: flex-start;
  }

  .registration-form-section {
    margin-top: 10px;
  }
  .registration-logo {
    max-width: 70%;
  }
}

/* Small Screens (up to 768px) */
@media screen and (max-width: 768px) {
  .registration-container {
    flex-direction: column;
  }

  .registration-form-section {
    padding: 20px;
    width: 90%;
  }

  .registration-submit-button {
    font-size: 14px;
  }

  .registration-login-button {
    font-size: 14px;
  }

  .registration-logo {
    max-width: 60%;
  }

  .registration-form-grid input:hover,
  .registration-form-grid select:hover {
    border-color: #3e5879;
  }
}

/* Medium Screens (up to 1024px) */
@media screen and (max-width: 1024px) {
  .container {
    padding: 20px;
    height: auto;
  }

  .registration-form-section {
    margin: 20px auto;
    width: 80%;
  }

  .registration-form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .registration-logo {
    max-width: 40%;
  }
}

/* Large Screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
  .registration-container {
    flex-direction: row;
  }

  .registration-form-section {
    margin: 20px auto;
    width: 80%;
  }

  .registration-logo {
    max-width: 25%;
    height: auto;
    margin: auto;
  }

  .registration-form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .registration-form-header {
    color: #007bff;
  }

  .registration-form-grid input:hover,
  .registration-form-grid select:hover {
    border-color: #3e5879;
  }
}
