
body {
  font-family: Arial, sans-serif;
  background-color: #fcf7fa;
  margin: 0;
  padding: 0;
}


.min-h-screen {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;
}

/* Form section */
.form-section {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  border: 1px solid #c8afaf;
  border-radius: 8px;
}

/* Form header */
.form-header {
  text-align: center;
  margin-bottom: 20px;
}

.form-header .form-heading {
  font-size: 24px;
  font-weight: bold;
  color: #3E5879;
}

/* Form Grid */
.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}


/* Input Fields */

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}


.form-grid input:hover,
.form-grid select:hover {
  border-color: #3E5879; 
}

.form-grid input:hover::placeholder,
.form-grid select:hover::placeholder {
  color: #3E5879; 
}

button {
  background-color: #3E5879; 
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px; 
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

/* Password visibility toggle */
.password-container {
  display: flex;
  align-items: center;
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/* Submit Button */
.submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.submit-button-container .submit-button {
  width: 100%;
  padding: 12px;
  background-color: #3E5879;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #2C3E50; 
}

/* Login Link */
.login-link-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login-text {
  font-size: 14px;
}

.login-link-container .login-button {
  background-color: transparent;
  color: #3E5879;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.login-button:hover {
  color: #3E5879; 
}

/* Sidebar */
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 20px 20px 0;
}

/* Responsive Design */
/* Small Screens (up to 375px) */
@media screen and (max-width: 375px) {
  .container {
    padding: 15px;
    height: auto;
    justify-content: flex-start;
  }

  .form-section {
    margin-top: 10px;
  }
  .logo {
    max-width: 70%;
  }
}

/* Small Screens (up to 768px) */
@media screen and (max-width: 768px) {
  .min-h-screen {
    flex-direction: column;

  }

  .form-section {
    padding: 20px;
    width: 90%;
  }

  .submit-button {
    font-size: 14px;
  }

  .login-button {
    font-size: 14px;
  }

  .logo {
    max-width: 60%;
  }

  .form-grid input:hover,
  .form-grid select:hover {
    border-color: #3E5879; 
  }
}

/* Medium Screens (up to 1024px) */
@media screen and (max-width: 1024px) {
  .container {
    padding: 20px;
    height: auto;
  }

  .form-section {
    margin: 20px auto;
    width: 80%;
  }

  .form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .logo {
    max-width: 40%;
  }
}

/* Large Screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
  .min-h-screen {
    flex-direction: row;
    
  }

  .form-section {
    margin: 20px auto;
    width: 80%;
  }

  .logo {
    max-width: 25%;
    height: auto;
    margin: auto;
  }

  .form-grid {
    grid-template-columns: 1fr 1fr;
  }

  .form-header {
    color: #007bff;
  }

  .form-grid input:hover,
  .form-grid select:hover {
    border-color: #3E5879;
  }
}
