/* Add your custom styles below */

/* Wrapper styles */
.expert-session-management {
  width: 100%;
  margin-top: 1rem;
  padding-top: 0.5rem;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.session-heading {
  text-align: center;
  margin-bottom: 2rem;
}

.session-heading h1 {
  font-size: 1.875rem;
  font-weight: 800;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.session-heading p {
  font-size: 0.875rem;
  color: #7f8c8d;
}

/* Status Filter */
.session-status-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  position: relative;
}

.desktop-filter {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.filter-button {
  color: black;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  background-color: #ecf0f1;
  transition: all 0.3s ease;
}

.filter-button.active {
  background-color: #7047a3;
  color: white;
}

.filter-button:hover {
  background-color: #bdc3c7;
}

/* Mobile Filter */
.mobile-filter {
  display: flex;
  width: 100%;
}

.filter-dropdown {
  position: absolute;
  top: 100%;
  margin-top: 0.5rem;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 10;
}

.filter-dropdown button {
  display: block;
  color: black;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all 0.3s ease;
}

.filter-dropdown button.active {
  background-color: #7047a3;
  color: white;
}

.filter-dropdown button:hover {
  background-color: #bdc3c7;
}

.filter-dropdown button:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* Modal Styles */
.modal-textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.375rem;
  margin-bottom: 1rem;
  /* focus:ring: 2px solid #3498db; */
}

.modal-input {
  padding: 0.5rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.375rem;
  width: 100%;
  /* focus:ring: 2px solid #3498db; */
}

.modal-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #dcdcdc;
  border-radius: 0.375rem;
  /* focus:ring: 2px solid #3498db; */
}

.modal-label {
  font-size: 0.875rem;
  font-weight: 600;
  color: #7f8c8d;
  margin-bottom: 0.5rem;
}
